<style>
	#myCarousel {}
</style>

<script>
$(document).ready(function() {
	$('#myCarousel').carousel();
	
	$('#scrollTop').click(function(){
		$('html, body').animate({scrollTop:0}, 'slow');
		return false;
	});
	
});
</script>

<% i=1 %>
<% sections.forEach( function( key,val ){ %>
<section id="<%=key%>" class="<%- val.cssClass %>">
	<h2><%- val.heading %></h2>
	<%- val.content %>
	<% if (val.boolean) {%>yes<% } %>
</section>
<hr>
<% i++; %>
<% }); %>


<!--
<section id="one">
<div class="span6 pull-center">
	<h1>Viewport Height</h1>
	Blah blah blah, blah bla. Blah blah-bla bla, bla and blah.oisd fiom fmosad mifom soidfmoimsdfom sadf iosadf ios df iosd fiom 
</div>
</section>

<hr/>

<section id="two">
<div class="container">
	<div class="span12 pull-center">
		<div class="span3 offset1">
		dnfonidfn oisndfoisndf isfisodf isd fi safd oisndf iosn difn siadnf ion sdonf iosnd isdf
		iojn sdif oisdfion sidosindf
		</div>
		<div class="span3">
		dnfonidfn oisndfoisndf isfisodf isd fi safd oisndf iosn difn siadnf ion sdonf iosnd isdf
		iojn sdif oisdfion sidosindf
		</div>
		<div class="span3">
		dnfonidfn oisndfoisndf isfisodf isd fi safd oisndf iosn difn siadnf ion sdonf iosnd isdf
		iojn sdif oisdfion sidosindf
		</div>
	</div>
</div>
</section>

<hr/>

<section id="three" class="fill">
<div class="container">
	<div class="span4 pull-center">
		<h1>Centered Single Span</h1>
		Blah blah blah, blah bla. Blah blah-bla bla, bla and blah.oisd fiom fmosad mifom soidfmoimsdfom sadf iosadf ios df iosd fiom 
	</div>
</div>
</section>

<hr/>

<section id="four">
<div class="container">
	<div class="row">
		<h1 class="pull-center">Block 2</h1>
		<div class="offset2 span4">
		dnfonidfn oisndfoisndf isfisodf isd fi safd oisndf iosn difn siadnf ion sdonf iosnd isdf
		iojn sdif oisdfion sidosindf 
		<br>
		<button class="btn btn-large btn-info">More</button>
		</div>
		<div class="span4">
		dnfonidfn oisndfoisndf isfisodf isd fi safd oisndf iosn difn siadnf ion sdonf iosnd isdf
		iojn sdif oisdfion sidosindf
		<br>
		<button class="btn btn-large btn-info">More</button>
		</div>
	</div>
</div>
</section>

<hr/>

<section id="five">
<div class="container">
	<form class="span4 pull-center">
		<h1>Enter Your Email</h1>
		<input class="input-xlarge input-block-level input-huge" placeholder="email@gmail.com"/>
		<button class="btn btn-block btn-huge">Enter</button>
	</form>
</div>
</section>

<hr/>

<section id="six">
<div class="container">
	<h1>Contact Us</h1>
	<form class="form-horizontal span5">
		<div class="control-group">
			<label class="control-label" for="inputName">Name</label>
			<div class="controls">
				<input type="text" class="input-xlarge" id="inputName" placeholder="Name">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputEmail">Email</label>
			<div class="controls">
				<input type="text" class="input-xlarge" id="inputEmail" placeholder="Email">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputComments">Comments</label>
			<div class="controls">
				<textarea id="inputComments" class="input-xlarge" rows="6" placeholder="Comments and questions here"></textarea>
			</div>
		</div>
		<div class="control-group">
			
			<div class="controls">
				<button class="btn btn-large btn-block btn-info">Send It!</button>
			</div>
		</div>
	</form>
</div>
</section>

<hr/>

<section id="seven" class="fill">
<div class="container">
	<div class="span12 pull-center">
		<div class="span3 offset1">
		<span class="badge badge-inverse pull-right">000</span>
		dnfonidfn oisndfoisndf isfisodf isd fi safd oisndf iosn difn siadnf ion sdonf iosnd isdf
		iojn sdif oisdfion sidosindf
		</div>
		<div class="span3">
		<span class="badge badge-info pull-right">001</span>
		dnfonidfn oisndfoisndf isfisodf isd fi safd oisndf iosn difn siadnf ion sdonf iosnd isdf
		iojn sdif oisdfion sidosindf
		</div>
		<div class="span3">
		<span class="badge badge-important pull-right">002</span>
		dnfonidfn oisndfoisndf isfisodf isd fi safd oisndf iosn difn siadnf ion sdonf iosnd isdf
		iojn sdif oisdfion sidosindf
		</div>
	</div>
</div>
</section>

<hr/>

<section id="eight" class="fill">
    <div id="myCarousel" class="carousel slide pull-center">
		<div class="carousel-inner">
			<div class="active item">
				<div>
				<img class="fill" src="http://placehold.it/1024x768/CC0000/000"/>
				</div>
			</div>
			<div class="item">
				<div style="background-image:url('http://placehold.it/1024x768/575757/fff.gif');width:1024px;height:768px;vertical-align:middle;">
					<div class="well span4 pull-center pull-middle">text here!!</div>
				</div>
			</div>
			<div class="item">
				<div>
				<img class="fill" src="http://placehold.it/1024x768/803080/fff"/>
				</div>
			</div>
		</div>
		<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
</section>
-->

<br><br><br><br>

<footer class="footer">
<p class="pull-right"><a href="#" id="scrollTop">scroll to top</a></p>
</footer>
	  

